.i18ncontent-table-wrapper {
  table > thead > tr > th {
    white-space: nowrap;
  }
  table{
    >tbody{
      >tr{
        >td{
          vertical-align: middle;
          &.actions-column{
            width: auto;
            white-space: nowrap;
          }
        }
      }
    }
  }
  &.article-index {
    table {
      > tbody > tr > td {
        //width: 160px;

      }
    }
  }

  td {
    >.label{
      font-weight: 400;
      margin-right: 6px;
    }
    &.i18n-language-translations{
      .label{
        margin-right: 5px;
      }
    }
  }
}