.i18ncontent-form .nav-tabs {
  border-bottom: 2px solid #DDD;
}
.i18ncontent-form .nav-tabs > li > a {
  border: none;
  color: #666;
}
.i18ncontent-form .nav-tabs > li > a:after {
  content: "";
  background: #3c8dbc;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.i18ncontent-form .nav-tabs > li.active a,
.i18ncontent-form .nav-tabs > li > a:hover {
  border: none;
  color: #3c8dbc !important;
  background: transparent;
}
.i18ncontent-form .nav-tabs > li.active > a:after,
.i18ncontent-form .nav-tabs > li:hover > a:after {
  transform: scale(1);
}
.i18ncontent-form .nav-tabs > li.active > a,
.i18ncontent-form .nav-tabs > li.active > a:hover,
.i18ncontent-form .nav-tabs > li.active > a:focus {
  border-width: 0;
}
.i18ncontent-form .nav-tabs > li.has-error > a:after {
  background: #b74e35 !important;
}
.i18ncontent-form .nav-tabs > li.has-error > a,
.i18ncontent-form .nav-tabs > li.has-error > a:focus,
.i18ncontent-form .nav-tabs > li.has-error > a:hover {
  color: #b74e35 !important;
}
.i18ncontent-form .tab-nav > li > a::after {
  background: #21527d none repeat scroll 0 0;
  color: #fff;
}
.i18ncontent-form .tab-content {
  padding: 15px;
}
.i18ncontent-form .tab-wrapper {
  background: #FFF none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
.i18ncontent-form .bootstrap-tagsinput {
  display: block;
}
.togglebutton {
  vertical-align: middle;
}
.togglebutton,
.togglebutton label,
.togglebutton input,
.togglebutton .toggle {
  user-select: none;
}
.togglebutton label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.26);
}
.togglebutton label:focus {
  outline: 0;
}
.togglebutton label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}
.togglebutton label .toggle {
  text-align: left;
}
.togglebutton label .toggle,
.togglebutton label input[type=checkbox][disabled] + .toggle {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  background-color: rgba(80, 80, 80, 0.7);
  border-radius: 15px;
  margin-right: 15px;
  transition: background 0.3s ease;
  vertical-align: middle;
}
.togglebutton label .toggle:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F1F1F1;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -2px;
  transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.togglebutton label input[type=checkbox][disabled] + .toggle:after,
.togglebutton label input[type=checkbox][disabled]:checked + .toggle:after {
  background-color: #BDBDBD;
}
.togglebutton label input[type=checkbox] + .toggle:active:after,
.togglebutton label input[type=checkbox][disabled] + .toggle:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
  left: 15px;
}
.togglebutton label input[type=checkbox]:checked + .toggle {
  background-color: rgba(60, 141, 188, 0.5);
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
  background-color: #3c8dbc;
}
.togglebutton label input[type=checkbox]:checked + .toggle:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(60, 141, 188, 0.1);
}
.i18ncontent-table-wrapper table > thead > tr > th {
  white-space: nowrap;
}
.i18ncontent-table-wrapper.article-index table > tbody > tr > td {
  width: 160px;
}
.i18ncontent-table-wrapper td > .label {
  font-weight: 400;
  margin-right: 6px;
}
