.i18ncontent-form .margin-right-5,
.i18ncontent-table-wrapper .margin-right-5 {
  margin-right: 5px;
}
.i18ncontent-form .table-cell,
.i18ncontent-table-wrapper .table-cell {
  display: table-cell;
}
.i18ncontent-form .om-icon-picker-preview {
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
}
.i18ncontent-form .om-menu-widget-actions-wrapper {
  padding-top: 25px;
}
.i18ncontent-form .nav-tabs {
  border-bottom: 2px solid #DDD;
}
.i18ncontent-form .nav-tabs > li > a {
  border: none;
  color: #666;
}
.i18ncontent-form .nav-tabs > li > a:after {
  content: "";
  background: #3c8dbc;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.i18ncontent-form .nav-tabs > li.active a,
.i18ncontent-form .nav-tabs > li > a:hover {
  border: none;
  color: #3c8dbc !important;
  background: transparent;
}
.i18ncontent-form .nav-tabs > li.active > a:after,
.i18ncontent-form .nav-tabs > li:hover > a:after {
  transform: scale(1);
}
.i18ncontent-form .nav-tabs > li.active > a,
.i18ncontent-form .nav-tabs > li.active > a:hover,
.i18ncontent-form .nav-tabs > li.active > a:focus {
  border-width: 0;
}
.i18ncontent-form .nav-tabs > li.has-error > a:after {
  background: #b74e35 !important;
}
.i18ncontent-form .nav-tabs > li.has-error > a,
.i18ncontent-form .nav-tabs > li.has-error > a:focus,
.i18ncontent-form .nav-tabs > li.has-error > a:hover {
  color: #b74e35 !important;
}
.i18ncontent-form .tab-nav > li > a::after {
  background: #21527d none repeat scroll 0 0;
  color: #fff;
}
.i18ncontent-form .tab-content {
  padding: 15px;
}
.i18ncontent-form .tab-wrapper {
  background: #FFF none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
.i18ncontent-form .bootstrap-tagsinput {
  display: block;
}
.i18ncontent-table-wrapper table > thead > tr > th {
  white-space: nowrap;
}
.i18ncontent-table-wrapper.article-index table > tbody > tr > td {
  width: 160px;
}
.i18ncontent-table-wrapper td > .label {
  font-weight: 400;
  margin-right: 6px;
}
.i18ncontent-table-wrapper td.i18n-language-translations .label {
  margin-right: 5px;
}
.i18ncontent-table-wrapper .togglebutton {
  vertical-align: middle;
}
.i18ncontent-table-wrapper .togglebutton,
.i18ncontent-table-wrapper .togglebutton label,
.i18ncontent-table-wrapper .togglebutton input,
.i18ncontent-table-wrapper .togglebutton .toggle {
  user-select: none;
}
.i18ncontent-table-wrapper .togglebutton label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.26);
}
.i18ncontent-table-wrapper .togglebutton label:focus {
  outline: 0;
}
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}
.i18ncontent-table-wrapper .togglebutton label .toggle {
  text-align: left;
}
.i18ncontent-table-wrapper .togglebutton label .toggle,
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox][disabled] + .toggle {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  background-color: rgba(80, 80, 80, 0.7);
  border-radius: 15px;
  margin-right: 15px;
  transition: background 0.3s ease;
  vertical-align: middle;
}
.i18ncontent-table-wrapper .togglebutton label .toggle:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F1F1F1;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -2px;
  transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox][disabled] + .toggle:after,
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox][disabled]:checked + .toggle:after {
  background-color: #BDBDBD;
}
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox] + .toggle:active:after,
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox][disabled] + .toggle:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox]:checked + .toggle:after {
  left: 15px;
}
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox]:checked + .toggle {
  background-color: rgba(60, 141, 188, 0.5);
}
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox]:checked + .toggle:after {
  background-color: #3c8dbc;
}
.i18ncontent-table-wrapper .togglebutton label input[type=checkbox]:checked + .toggle:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(60, 141, 188, 0.1);
}
.i18ncontent-table-wrapper .om-checkbox label,
.i18ncontent-form .om-checkbox label {
  font-size: 16px;
  line-height: 1.42857143;
  font-weight: 400;
}
.i18ncontent-table-wrapper .om-checkbox input[type=checkbox],
.i18ncontent-form .om-checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}
.i18ncontent-table-wrapper .om-checkbox .om-checkbox-material,
.i18ncontent-form .om-checkbox .om-checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 3px;
}
.i18ncontent-table-wrapper .om-checkbox .om-checkbox-material .check,
.i18ncontent-form .om-checkbox .om-checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}
.i18ncontent-table-wrapper .om-checkbox .om-checkbox-material .check:before,
.i18ncontent-form .om-checkbox .om-checkbox-material .check:before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: block;
  margin-top: -4px;
  margin-left: 6px;
  width: 0;
  height: 0;
  animation: checkbox-off;
  -webkit-animation: checkbox-off;
}
.i18ncontent-table-wrapper .om-checkbox .om-checkbox-material:before,
.i18ncontent-form .om-checkbox .om-checkbox-material:before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.84);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
  transform: scale3d(2.3, 2.3, 1);
  -webkit-transform: scale3d(2.3, 2.3, 1);
}
.i18ncontent-table-wrapper .om-checkbox input[type=checkbox]:checked + .om-checkbox-material .check:before,
.i18ncontent-form .om-checkbox input[type=checkbox]:checked + .om-checkbox-material .check:before {
  color: #009688;
  box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  animation: checkbox-on 0.3s forwards;
  -webkit-animation: checkbox-on 0.3s forwards;
}
@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}
@-webkit-keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}
@keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0px 0 0 10px inset;
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0px 0 0 0 inset;
  }
}
@-webkit-keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0px 0 0 10px inset;
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0px 0 0 0 inset;
  }
}
